* {
  font-family: Inter;
}

.card-img-top{
  width: 15rem;
  }

.container{
  margin-top:4rem ;
}

.card-body{
  margin-bottom: 3rem ;
}

.rodape{

  float:left;
  padding: 3% 4%;
  text-align: center;
  
}

.social-icons a{
  font-size: 1.5rem;
  margin-right: 3%;

}