*{
  margin: 0px;
  padding: 0px;
  
}

h1{
  color: #272643;
}

h2 a{
  position: absolute;
  float: left;
  top: 5px;
  margin-left:-8rem;
  
 }

body{
  background-color:#fff;
  font-family:'Poppins', sans-serif;
}

input{
  display: block;
  height: 55px;
  width: 400px;
  margin: 8px;
  border-radius: 1rem;
  border: 1px solid #272643;
  font-size: 16pt;
  padding: 8px 20px;

}


input#botao{
  display: block;
  height: 55px;
  width: 440px;
  margin: 8px;
  border-radius: 20px;
  border: #272643 solid;
  font-size: 16pt;
  padding: 10px 20px;
}

#botao:hover{
  background-color: #dfebeb;
  opacity: 90%;
}

div#corpo-form{
  width: 420px;
  margin: 150px auto 0px auto;
}

div#aviso{
  color: red;
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  width: 450px;
}

div#corpo-form h1{
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

div#corpo-form h3{
  text-align: center;
  font-size: 25px;
  width: 450px;
}

a{
  color: #2c698d;
  width: 450px;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 22px;
}

a:hover{
  text-decoration: underline;
}

