
#img {
  width:6rem;
}



.nav-link{
  font-size: 1.6rem;
}

.container{
  margin-top:4rem ;
  
}

.card-body{
  margin-bottom: 3rem ;
}

/* Footer */
.rodape{

  float:left;
  padding: 3% 4%;
  text-align: center;
  
  
}

.social-icons a{
  font-size: 1.5rem;
  margin-right: 3%;

}

@media (min-width: 576px) { 
  .card-img-top{
    width: 20%;
    min-width: 100px;
   
    }
}


@media (min-width: 768px) { 
  .card-img-top{
    width: 2rem;
    
    }
}


@media (min-width: 992px) { 
}

@media (min-width: 1200px) { 
  }