* {
  font-family: Inter;
}
.container {
  padding: 2rem;
}

.card-img-top {
  width: 16rem;
  
}

.nav-link{
  font-size: 1.5rem;
}

.cards{
  margin-top: 2rem;
}

/* Footer */

.rodape{
  width:100%;
  float:left;
  padding: 3% 4%;
  text-align: center;
  background-color: rgb(230, 227, 227);

  
}

.social-icons a{
  font-size: 1.5rem;
  margin-right: 3%;

}

@media (min-width: 576px) { 
 
 }


@media (min-width: 768px) { 
  
 }


@media (min-width: 992px) { 
 }

@media (min-width: 1200px) { 
   }